---
# Continuous Deployment Template
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-continuous-deployment
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/example/app-manifests
    targetRevision: HEAD
    path: k8s/overlays/production
    
    kustomize:
      images:
        - name: app
          newTag: latest
  
  destination:
    server: https://kubernetes.default.svc
    namespace: production
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 10
---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: multi-env-deployment
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - env: development
        cluster: dev-cluster
      - env: staging
        cluster: staging-cluster
      - env: production
        cluster: prod-cluster
  
  template:
    metadata:
      name: 'app-{{env}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/example/app-manifests
        targetRevision: HEAD
        path: 'k8s/overlays/{{env}}'
      destination:
        server: '{{cluster}}'
        namespace: '{{env}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
