apiVersion: v1
kind: Service
metadata:
  name: redis-service
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
  - port: 6379
    targetPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: memcached-service
spec:
  type: ClusterIP
  selector:
    app: memcached
  ports:
  - port: 11211
    targetPort: 11211
