version: 2.1

orbs:
  docker: circleci/docker@2.1.1
  aws-ecr: circleci/aws-ecr@7.3.0

jobs:
  build-and-push:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - docker/build:
          image: $DOCKER_IMAGE
          tag: $CIRCLE_SHA1
      - aws-ecr/build-and-push-image:
          repo: "${AWS_RESOURCE_NAME_PREFIX}"
          tag: "${CIRCLE_SHA1}"

  deploy:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - aws-ecr/ecr-login
      - run:
          name: Deploy to ECS
          command: |
            # Add ECS deployment commands here
            echo "Deploying to ECS..."

workflows:
  version: 2
  build-deploy:
    jobs:
      - build-and-push:
          context: aws-credentials
      - deploy:
          requires:
            - build-and-push
          filters:
            branches:
              only: main
