version: 2.1

orbs:
  docker: circleci/docker@2.1.1
  kubernetes: circleci/kubernetes@1.3

jobs:
  build:
    docker:
      - image: cimg/node:16.13
    steps:
      - checkout
      - setup_remote_docker
      - docker/build:
          image: $DOCKER_IMAGE
          tag: $CIRCLE_SHA1

  test:
    docker:
      - image: cimg/node:16.13
    steps:
      - checkout
      - setup_remote_docker
      - docker/pull:
          images:
            - $DOCKER_IMAGE:$CIRCLE_SHA1
      - run:
          name: Run Tests
          command: |
            docker run $DOCKER_IMAGE:$CIRCLE_SHA1 npm test

  security_scan:
    docker:
      - image: aquasec/trivy
    steps:
      - run:
          name: Scan Container
          command: |
            trivy image $DOCKER_IMAGE:$CIRCLE_SHA1

  push:
    docker:
      - image: cimg/node:16.13
    steps:
      - setup_remote_docker
      - docker/pull:
          images:
            - $DOCKER_IMAGE:$CIRCLE_SHA1
      - docker/push:
          image: $DOCKER_IMAGE
          tag: $CIRCLE_SHA1

  deploy_staging:
    docker:
      - image: cimg/python:3.9
    steps:
      - kubernetes/install-kubectl
      - kubernetes/install-kubeconfig:
          cluster-name: staging-cluster
      - run:
          name: Deploy to Staging
          command: |
            kubectl set image deployment/app app=$DOCKER_IMAGE:$CIRCLE_SHA1
            kubectl rollout status deployment/app

  deploy_production:
    docker:
      - image: cimg/python:3.9
    steps:
      - kubernetes/install-kubectl
      - kubernetes/install-kubeconfig:
          cluster-name: production-cluster
      - run:
          name: Deploy to Production
          command: |
            kubectl set image deployment/app app=$DOCKER_IMAGE:$CIRCLE_SHA1
            kubectl rollout status deployment/app

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - security_scan:
          requires:
            - build
      - push:
          requires:
            - test
            - security_scan
          filters:
            branches:
              only: main
      - deploy_staging:
          requires:
            - push
          filters:
            branches:
              only: develop
      - approve_production:
          type: approval
          requires:
            - push
          filters:
            branches:
              only: main
      - deploy_production:
          requires:
            - approve_production
          filters:
            branches:
              only: main
